<app-navbar></app-navbar>
<div class="img-card">
  <div class="card mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/68468/pexels-photo-68468.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-desc">
            <h5 class="card-title">Yoga retreat for beginner & intermediate yogis</h5>
            <p class="card-text">An all-inclusive program, our Yoga Retreat mixes daily yoga instruction with a variety of other yoga retreat activities. Morning yoga and meditation practices will leave you feeling revitalized. 
              <br><br>
              In our luxurious yet affordable yoga retreat in India, the health benefits of yoga are paired with healthy plant-based meals. Meals, lodging, and all activities are included in the fee. You will feel refreshed and centered after this magical experience. 
              <br><br>
              Yog Love’s Yoga Retreat in India contains adventure and yoga retreat activities, excursions, and fun in which you will let go of inhibitions, gain balance, power, and vitality, and accept a shift that is far more beautiful, calm, and spiritual. </p>
          </div>
          <button class="btn" routerLink="/contact" style="width: 20%;">Contact us</button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-contact-us></app-contact-us>
<app-footer></app-footer>
