<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/29614930/pexels-photo-29614930/free-photo-of-yoga-pose-on-serene-ocean-pier-under-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h1>Yoga Academy</h1>
        <p>Certified teacher training programs and courses guided by Ira Trivedi.</p>
        <button class="btn color" (click)="OnClick()">Explore </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/4056723/pexels-photo-4056723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <h1>Retreats</h1>
        <p>Yoga retreats with Ira Trivedi in India’s most exquisite locations.</p>
        <button class="btn color" (click)="OnClickF()">Explore  </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/7879933/pexels-photo-7879933.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h1>Recorded classes</h1>
        <p>Pre recorded classes by Ira Trivedi and team.</p>
        <button class="btn color" (click)="OnClickM()">Explore </button>
      </div>
    </div>
  </div>
</div>