<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/29614930/pexels-photo-29614930/free-photo-of-yoga-pose-on-serene-ocean-pier-under-blue-sky.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h1>Streching</h1>
        <p>Stretch your body, calm your mind, and let your soul shine.</p>
        <button class="btn color" (click)="OnClick()">Explore </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/4056723/pexels-photo-4056723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        <h1>Flexibility</h1>
        <p>Flexibility isn’t just about the body; it’s about the mind too. Stay open, stay grounded.</p>
        <button class="btn color" (click)="OnClick()">Explore  </button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="https://images.pexels.com/photos/7879933/pexels-photo-7879933.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
        <h1>Meditation</h1>
        <p>Quiet the mind, and the soul will speak.Embrace the stillness, and reconnect with your inner self.</p>
        <button class="btn color" (click)="OnClick()">Explore </button>
      </div>
    </div>
  </div>
</div>