

<div class="accordion accordion-flush" id="accordionFlushExample">
    <h1>FAQs about Online Yoga Classes</h1>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Can you really learn yoga online?
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Absolutely! Our online yoga classes are taught by highly experienced and trained instructors, who know how to properly guide you through a full mind and body experience – even through a screen!
        <br><br>
        There are many benefits of online yoga classes too. If you need to take a break, simply hit the pause button. If you really loved a particular class, you can retake it again and again from our on-demand catalog.
        <br><br>
        Best yet, you have the ultimate convenience of practicing yoga from anywhere you have an internet connection. Practice from your living room, rooftop terrace, or even during your beach vacation! With online yoga classes, the options are endless..</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          How do online yoga classes work?
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Our online yoga classes are easy to join. You can join any of our live classes 5 minutes prior to the class start time or simply click the link of the on-demand class you’d like to view.
          <br><br>
          You can join a live class at any time while it is still in session. And remember, all live classes are recorded and can be found in the “Fresh and New This Week” category in the app, as well as searching by instructor.
          <br><br>
          As soon as you press play, your yoga teacher will guide you through a deep mind and body practice – all you need is your yoga mat!</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          What is the best yoga for beginners?
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The best yoga for beginners is the style that speaks to you! At YogaWorks, we offer a range of class levels, so look for Level 1 or mixed-level classes that are tailored for yoga beginners.
          <br><br>
          If you are looking for a detailed introduction to all the asanas (positions), you might like to start with Iyengar Yoga or our signature YogaWorks classes, as both these styles focus deeply on body alignment and proper technique.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          What should i do if my class freezes?
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">If your yoga class freezes, there could be a problem with your connection. Check that you have service or wifi. Next, make sure your SoulStrech app is up to date. Then, try restarting your device to ensure all updates are fully integrated.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
          If I have an injury can I still take online yoga classes?
        </button>
      </h2>
      <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">If you have any injuries, please check with your doctor or healthcare provider before attempting online yoga classes. They will let you know if you are ready to start your practice, and which style of yoga may be best suited to you.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
          Will other people be able to see me during my online yoga classes?  
        </button>
      </h2>
      <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">No. Our live classes are broadcast in a one-way format so you will only be able to see your instructor. However, you can interact with them and fellow practitioners via the chat function.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingSeven">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
          Can I create a playlist of my favorite yoga classes?    
        </button>
      </h2>
      <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Yes, you can create your own list of favorites. When watching live classes at the top of the banner, simply click on the 3 dots and tap “Add to my list”.</div>
      </div>
    </div>
</div>

