nav{
  position: relative; 
  
}
.navbar-brand{
  font-weight: bolder;
  font-size: 2rem;
}
.offcanvas-body ul li{
  font-weight: bold;
  font-size: 1.2rem;
}
button{
  margin-left: 10px;
}
.navbar-nav{
  display: flex;
  justify-content:center;
  column-gap: 5rem;
}