<app-navbar></app-navbar>
<div class="kids-container">
  <div class="desc">
    <h1> Kids Yoga Teacher Training Course 
      <br> with Ira Trivedi
    </h1>
  </div>
  <div class="img-card">
    <div class="card mb-4">
      <div class="row g-3">
        <div class="col-md-8">
          <div class="card-body">
            <h1>Overview</h1>
            <div class="card-desc">
              <p class="card-text">
                Overview
                Our Online Kids Yoga Teacher Training Course is a comprehensive program designed to teach  students the skills and knowledge necessary to effectively teach yoga to children.</p>
            </div>
            <div class="card-desc">
              <p class="card-text">A Registered Yoga Teacher (RYT) credential is earned by a yoga teacher which gives trainees a solid launch pad to begin their careers as kid's yoga teacher. </p>
            </div>
            <div class="card-desc">
              <p class="card-text">The course covers a wide range of topics, including anatomy and physiology, child development, teaching methodology, class management, techniques and practices, ethics, professionalism, business, and marketing.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="https://images.pexels.com/photos/5063295/pexels-photo-5063295.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="course_info">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="head">Course info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Dates</th>
          <td>21st September -21 October 2024</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>INR 29,999 (Online on Zoom)
            Fee is non-refundable. Under any circumstances, if you are unable to join the course after paying the fees, we will enroll you for the next Kids Yoga TTC batch.
            <br><br>
            Payment can be done in 2 installments. 50% of the fee is to be paid before the course starts and 50% of the
            fee is to be paid once the course starts.
            <br><br>
            Fee is non-refundable. If there are good reasons for you to complete the course, we will allow you to join
            the next batch.
          </td>

        </tr>
        <tr>
          <th scope="row">Timing</th>
          <td>Modules + Recordings will be provided for learning and self-practice.
            <br>
            LIVE yoga asana practice from 10 am to 12 pm [IST] on weekends.
            <br>
            (Recordings will be provided if you are not able to attend the LIVE session).
            <br>
            Modules, Assignments, and Recordings will be given for self-learning and practice during the weekdays.
            <br>
            Attendance is mandatory for 2 out of a total of 4 weekends during the course. Certification will only be provided to those students who maintain their attendance during the LIVE sessions.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="curriculum">
    <h1>
      Curriculum
    </h1><br>
    <div class="curriculum-inner">
      <div class="week1">
        <h3>Week 1</h3>
        <p>Welcome to the course</p>
        <ol>
          <li>Why yoga for kids?</li>
          <li>Yoga philosophy</li>
          <li>Introduction to anatomy</li>
          <li>Sun Salutations and postures</li>
        </ol>
      </div>
      <div class="week2">
        <h3>Week 2</h3>
        <p>Kids Yoga & Yogic concept of education</p>
        <ol>
          <li>The Yogic concept of education</li>
          <li>Yoga philosophy</li>
          <li>Anatomy- Breath, health & pranayama</li>
          <li>Practice session of Pranayama</li>
          <li> Ayurveda for kids</li>
        </ol>
      </div>
      <div class="week3">
        <h3>Week 3</h3>
        <p>Psychological theories & Yogic philosophy</p>
        <ol>
          <li>Psychological theories of development</li>
          <li>Yoga philosophy</li>
          <li>Anatomy: astral bodies, nadis and chakras</li>
          <li>Trataka practice</li>
          <li> Mindfulness & its importance for kids</li>
        </ol>
      </div>
      <div class="week4">
        <h3>Week 4 </h3>
        <p>Practical application of Yogic knowledge</p>
        <ol>
          <li>Yoga as preventive medicine</li>
          <li>Ethics and lifestyle</li>
          <li>Anatomy: Benefit of Yoga for children</li>
          <li> Teaching methodology</li>
          <li>Kids application training  areas</li>
          <li>General background and introduction to physiology</li>
        </ol>
      </div>
    </div>
    
  </div>
  <div class="why-course">
    <h1>
      What You Get
    </h1><br>
    <ul>
      <li>Develop in-depth knowledge and practice of yoga asanas, pranayama, meditation,  yoga philosophy, and more to train kids.</li>
      <li>Develop the skills and confidence you need to become a compassionate kid's yoga teacher.</li>
      <li>The mix of live and interactive classes, recorded modules, and self-paced lessons ensures flexibility</li>
      <li>Techniques and Practices: You will learn various yoga poses, breathing techniques + relaxation techniques that are suitable for children.</li>
      <li>Yoga techniques have been modified so that you may confidently support your, students, during yoga classes.</li>
      <li>Ethics and Professionalism: You will learn about the ethical and professional responsibilities of being a kid's yoga teacher, including maintaining a safe and inclusive environment, respecting diversity, and establishing healthy boundaries.</li>
      <li>Business and Marketing: If you are interested in starting your own kids yoga business, you will learn about the basics of business planning and marketing your services.</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
