<app-navbar></app-navbar>
<div class="containerr">
  <div class="desc">
    <h1> 200 hour Yoga Teacher Training Course
      <br> with Ira Trivedi
    </h1>
  </div>
  <div class="book">
    <h1>Online Yoga Teacher Training</h1>
    <hr>
    <div class="log">
      <img src="https://img.freepik.com/premium-vector/yoga-logo-icon-design_586739-4560.jpg?semt=ais_hybrid" alt="">
      <img
        src="https://img.freepik.com/premium-vector/yoga-silhouette-vector-design-man-woman_1036007-932.jpg?semt=ais_hybrid"
        alt="">
    </div>
    <button class="btn btn-outline">Book Now</button>
  </div>
  <div class="who">
    <h1>Who should attend this course?</h1>
    <hr>
    <ul>
      <li>Those who want to enhance their knowledge of Yoga. </li>
      <li>Those who are passionate about spreading the message of wellness and peace. </li>
      <li>Those who are interested in pursuing a career as a certified yoga teacher.</li>
      <li>Those looking for a comprehensive, well-structured yoga teacher training course with personal guidance and
        instructions.</li>
      <li>Those who want to become a part of a thriving community & establish a career as a yoga teacher.</li>
      <li>Those who need a flexible course that they can do from the comfort of their homes at convenient timing.</li>
      <li>Thise course is amazing for working professionals who may get time only on the weekends.</li>
    </ul>
    <button class="btn" (click)="contact()">Get in touch</button>
  </div>
  <div class="course_info">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="head">Course info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Dates</th>
          <td>24th August 2024 to 13th October , 2024</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>INR 49,999
            10k Discount available
            <br><br>
            Payment can be done in 2 installments. 50% of the fee is to be paid before the course starts and 50% of the
            fee is to be paid once the course starts.
            <br><br>
            Fee is non-refundable. If there are good reasons for you to complete the course, we will allow you to join
            the next batch.
          </td>

        </tr>
        <tr>
          <th scope="row">Timing</th>
          <td>10:00 am - 12:00 pm, Saturday and Sunday, recorded sessions for daily practice and live mentorship for
            those who need it. </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div class="img-card">
    <div class="card mb-4">
      <div class="row g-3">
        <div class="col-md-4">
          <img src="https://images.pexels.com/photos/3758151/pexels-photo-3758151.jpeg?auto=compress&cs=tinysrgb&w=600"
            class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="card-desc">
              <h5 class="card-title">Benefit 01</h5>
              <p class="card-text">Become a certified yoga teacher. Our course is certified by Yoga Alliance USA (RYT 200)  + our institute is certified by the Ayush Ministry (Government of India, YCB) allowing you to teach globally.</p>
            </div>
            <div class="card-desc">
              <h5 class="card-title">Benefit 03</h5>
              <p class="card-text">Deepen your practice and knowledge of Asana, Pranayama, Meditation, and Yoga philosophy rooted in Vedic tradition with Ira Trivedi and our wonderful faculty.</p>
            </div>
            
            <div class="card-desc">
              <h5 class="card-title">Benefit 03</h5>
              <p class="card-text">Join a vibrant community of students and teachers. After graduation, you can begin teaching immediately globally! </p>
            </div>
            <button class="btn" (click)="contact()" style="width: 20%;">Get in touch</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="why-course">
    <h1>
      Why Choose SoulStretch for Online Teacher <br>Training Course?
    </h1><br>
    <ul>
      <li>We present a planned, systematic, and complete Online Yoga Teacher Training course that allows you to teach both locally (in India) and globally (worldwide). </li>
      <li>Theoretical (Yoga History, Yoga Philosophy) and Practical (Yoga Techniques) have been given equal weightage. </li>
      <li>We teach anatomy and physiology  simply and effectively.</li>
      <li>Access to teachers who are knowledgeable, committed, and live classical yoga as a way of life.</li>
      <li>Yoga techniques have been modified so that you may confidently support your, students, during yoga classes.</li>
      <li>Yoga Certification from Yoga Alliance. Our organisation is registered with Yoga Certification Board (YCB).</li>
      <li>Participants in the Yoga Teacher Training Certification Program will be physically and mentally prepared to integrate their physical, emotional, mental, and spiritual talents.</li>
      <li>Coursework and Yoga education assist participants to develop self-control and self-discipline, resulting in improved awareness, attention.</li>
      <li>Our Online Yoga Teacher Training Course will assist you in gaining a fundamental understanding of your personality and developing a discriminative mind capable of dealing calmly with life's dualities.</li>
    </ul>
  </div>
  <div class="curriculum">
    <h1>
      Curriculum
    </h1><br>
    <ul>
      <li>Principles of asana, pranayama, and meditation.</li>
      <li>Principles of demonstration, observation, assisting, correcting, teaching style, planning a class, and much more.</li>
      <li>Consistent guidance from Ira Trivedi and the experienced team of yogis at Yog Love.</li>
      <li>In-depth knowledge and study of the Vedas, the Bhagavad Gita, and major yoga texts.</li>
      <li>Comprehensive modules on key muscles, bones, and joints involved in fundamental yoga postures.

      </li>
      <li>Guidance on designing classes that offer variations for people of all levels of flexibility.</li>
    </ul>
  </div>
</div>
<app-footer></app-footer>