.login{
  min-width:30%;
}
form{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem;
}
#btn-sign{
  width: 100%;
}
.login-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}