<app-navbar></app-navbar>
<div class="container">
  <div class="card mb-4" >
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="image.src" class="img-fluid rounded-start" alt={{image.alt}}>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">About Us</h1>
          <p class="card-text">Welcome to SoulStretch, a sanctuary where mind, body, and spirit unite in harmony. Our mission is to guide individuals on a journey of holistic wellness through the transformative power of yoga. We believe that yoga is not just a practice but a way of life—a path to inner peace, physical vitality, and spiritual growth.
          <br><br>
          At SoulStretch, we welcome practitioners of all levels, from beginners taking their first step on the mat to seasoned yogis looking to deepen their practice. Our classes are thoughtfully designed to accommodate diverse needs, ensuring everyone feels supported, inspired, and empowered.
          <br><br>
          Our studio is more than a space for yoga; it’s a place to find balance amidst life’s challenges. With serene surroundings and a calming ambiance, SoulStretch offers the perfect environment to unwind, rejuvenate, and reconnect with your true self. Each session is crafted to provide not only physical benefits but also mental clarity and emotional well-being.
          <br><br>
          At the heart of SoulStretch is a commitment to community and connection. Through group classes, workshops, and social events, we aim to bring people together in a supportive and nurturing environment.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desc">
  <div class="indesc">
    <h1>Vision</h1>
    <p> Balance and mindfulness through yoga.</p>
  </div>
  <div class="indesc">
    <h1>Mission</h1>
    <p> Transform lives with inclusive yoga.</p>
  </div>
</div>
<div class="container">
  <div class="card mb-4" >
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="image1.src" class="img-fluid rounded-start" alt={{image1.alt}}>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title">Meet the Founder</h1>
          <p class="card-text">

            At the heart of SoulStretch is Aria Kapoor, a passionate advocate for holistic wellness and the transformative power of yoga. With 5 years of experience in practicing and teaching yoga, Aria Kapoor envisioned creating a space where individuals of all backgrounds could embark on a journey of self-discovery, balance, and growth. <br><br>
            
            Driven by the belief that yoga is for everyone, Aria Kapoor has dedicated their life to making the practice accessible, welcoming, and enriching for all. Certified in [specific certifications, e.g., RYT-200/RYT-500], Aria Kapoor combines a deep understanding of traditional yoga philosophies with modern techniques to guide practitioners toward their fullest potential. <br> <br>
            
            Aria Kapoor's mission goes beyond physical fitness—it’s about cultivating a community where people can connect, heal, and thrive. Through SoulStretch, she is committed to inspiring others to live with mindfulness, purpose, and harmony.</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>