<app-navbar></app-navbar>
<div class="container">
  <h1>Contact us</h1>
  <form>
    <div class="form-row">
      <div class="col-md-12 mb-3">
        <input type="text" class="form-control" id="validationServer01" placeholder="First name" required>
        <!-- <div class="valid-feedback">
          Looks good!
        </div> -->
      </div>
      <div class="col-md-12 mb-3">
        <input type="text" class="form-control" id="validationServer02" placeholder="Last name" required>
      </div>
      <div class="col-md-12 mb-3">
        <div class="input-group">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
          <!-- <div class="invalid-feedback">
            Please choose a username.
          </div> -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 mb-4">
        <label for="inputAddress">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
        <!-- <div class="invalid-feedback">
          Please provide a valid city.
        </div> -->
      </div>
      <div class="col-md-12 mb-3">
        
        <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        <!-- <div class="invalid-feedback">
          Please provide a valid state.
        </div> -->
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" required>
        <label class="form-check-label" for="invalidCheck3">
          Agree to terms and conditions
        </label>
        <!-- <div class="invalid-feedback">
          You must agree before submitting.
        </div> -->
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-primary me-md-3" type="Submit">Submit</button>
      
    </div>
  </form>
</div>
<div class="line">
  <hr style="width: 500px;height:2px;color:rgb(98, 98, 98);">
</div>
<div class="map">
  
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30476.543418465546!2d82.0847906696695!3d17.28812624923876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a377b6cb58e00cd%3A0xa0d49ff44b8743c3!2sYeleswaram%2C%20Andhra%20Pradesh%20533429!5e0!3m2!1sen!2sin!4v1734150059593!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<app-footer></app-footer>
