<app-navbar></app-navbar>
<div class="pranayama-container">
  <div class="desc">
    <h1>Pranayama Coach
      <br> with Ira Trivedi
    </h1>
  </div>
  <div class="course_info">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="head">Course info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Dates</th>
          <td>14th-15th December 2024</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>INR 25,000 / USD 300
            <br><br>
            INR 20,000 / USD 241 (Online on Zoom)
            <br><br>
            
          </td>

        </tr>
        <tr>
          <th scope="row">Timing</th>
          <td>10 AM to 6 PM IST (during the weekend) + 2 weeks of self learning and practice teaching in groups
            <li>Develop expertise in various breathing techniques</li>
            <li>Learn the essential principles
              and practices of Pranayama for self practice</li>
              <li>Huge demand for Breathing
                Coaches worldwide</li>
              <li>Breath Coaching requires NO Equipment.</li>
              <li>Start Anytime, Anywhere at
                the comfort of your home</li>
            </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div class="who">
    <h1>What you get?</h1>
    <hr>
    <ul>
      <li>Learn the essential principles, practices, and benefits of Pranayama on mind, body, and soul. Hone your skills and confidence to become a pranayama teacher and breath coach.</li>
      <li>Develop expertise in various breathing techniques for teaching Pranayama yoga to individuals or groups. 

        ​</li>
      <li>There is a huge demand for Pranayama breathing coaches worldwide so you can successfully learn Pranayama yoga teacher training with our Yoga Alliance recognized certification.</li>
      <li>Those looking for a  comprehensive, well-structured Yin Yoga teacher training course with personal guidance and instruction.</li>
      <li>Those who want to become a part of a thriving community.</li>
      <li>Thise course is amazing for working professionals who may get time only on the weekends.</li>
    </ul>
    <button class="btn" routerLink="/contact">Contact us</button>
  </div>
  <div class="why-course">
    <h1>
      Overview
    </h1><br>
    <ul>
      <li>
        1 month access to course material</li>
      <li>Self-paced lessons so you can study in your own time</li>
      <li>15 pre-recorded video lessons and 8 pre-recorded audio lessons</li>
      <li>Daily study materials to gain an in-depth knowledge</li>
      <li>1 Final Exam (Theory + video recordings of yourself teaching)*</li>
      <li>Yoga Alliance recognized Pranayama certificate.</li>
      
    </ul>
  </div>
</div>
<app-footer></app-footer>