.desc{
  background-color: #013220;
  color: white;
  padding: 4rem;
  text-align: center;
  font-weight: 800;
}
.course_info{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.table {
  border: 2px solid #C57B57;
  border-collapse: collapse;
  width: 65%;
}
.table th, .table td {
  border: 2px solid #C57B57;
  padding: 8px;
}
.table tr .head{
  background-color: #A20021;
  font-size: 2rem;
  text-align: center;
  color: #fff;
  padding: 0.8rem;
}
.table th{
  background-color: #F1AB86;
  padding: 2rem;
  font-size: 1.3rem;
}
.table td{
  padding: 2rem;
  font-size: 1.2rem;
}
.who{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2rem;
}
.who ul{
  padding: 1rem;
  width: 70%;
}
.who ul li{
  color: #584D3D;
  font-size:1.19rem;
}
.who h1{
  color: #846267;
}
.btn{
  border: 3px solid #A20021;
  font-weight: bold;
  color: #A20021;
}
.btn:hover{
  background-color:#A20021;
  color: #fff;
}
.why-course{
  background-color: #F0F7EE;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0%;
}
.why-course h1{
  text-align: center;
  color:#846267;
}
.why-course ul,.curriculum ul{
  width: 80%;
}
.why-course ul li,.curriculum ul li{
  font-size: 1.5rem;
  color: #36382E;
}