<app-navbar></app-navbar>
<div class="img-card">
  <div class="card mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <img
          src="https://static.wixstatic.com/media/82c108_27a720ee7c8c423a810bca2563b3d939~mv2.jpg/v1/crop/x_0,y_1482,w_4912,h_4609/fill/w_488,h_458,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/ira_JPG.jpg"
          class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-desc">
            <h5 class="card-title">At Home with Ira</h5>
            <p class="card-text">An ever-growing collection of yoga classes to support your well-being and spiritual
              growth.</p><br><br>
            <p class="card-text">These are pre-recorded yoga classes <br><span>&#64;
                ₹999 for 1 month</span>
            </p>
          </div>
          <button class="btn" routerLink="/contact" style="width: 20%;">Contact us</button>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="desc">
  <h3>These are a collection of pre-recorded videos of Ira's classes that were taught live on Zoom. These include Hatha
    Yoga classes, pranayama mediation and Yin Yoga. They also include 21 day pranayama and meditation programs.
  </h3>
</div>
<div class="grid-card">
  <h1>What's Included</h1>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img
          src="https://static.wixstatic.com/media/4e30ca_8cf2f0c03fad416586d95dbb881556fc~mv2.jpg/v1/fill/w_500,h_273,al_c,lg_1,q_80,enc_avif,quality_auto/3.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">Pre-recorded yoga classes by Ira Trivedi ( Zoom recordings)</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://static.wixstatic.com/media/4e30ca_f89d32844d2547f39b9cec021a7bf4ac~mv2.jpg/v1/fill/w_500,h_273,al_c,lg_1,q_80,enc_avif,quality_auto/retreat%20banner%20(3).jpg"
          class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">
            Access to 21 day Pranayama and meditation programs </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://static.wixstatic.com/media/4e30ca_ca268f5d6dae45c9a71132f0266bb672~mv2.jpg/v1/fill/w_500,h_273,al_c,lg_1,q_80,enc_avif,quality_auto/WhatsApp%20Image%202022-05-25%20at%205_33_11%20PM.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">Access to all yoga recordings for 1 month ( Zoom recordings)</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="https://static.wixstatic.com/media/4e30ca_19791eac06da4659b826e168895df563~mv2.jpg/v1/fill/w_500,h_273,al_c,lg_1,q_80,enc_avif,quality_auto/Retreat%20Posts%202.jpg"
          class="card-img-top" alt="...">
        <div class="card-body">

          <p class="card-text">Ira's humorous tales offer life's lessons, guiding us with wisdom.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desc">
  <h1>Who is this Course for?</h1>
  <p style="font-weight:500;font-size:1.4rem;">Suitable for Beginner-Intermediate yogis seeking various yoga courses to take in the comfort of one's own home.
  </p>
</div>
<div class="desc-img">
  <div class="card mb-4">
    <div class="row g-3">
      <div class="col-md-8">
        <div class="card-body">
          <h1>What you'll learn!</h1>
          <div class="card-desc">
            <p class="card-text">
              <span>Just &#64; ₹999 for 1 month</span><br><br>
          </div>
          <div class="card-desc">
            <p class="card-text">
              Improve strength, flexibility, and stability through Hatha Yoga
              <br>
              Destress and go inwards through Ira's Yin Yoga classes
              <br>
              Learn simple and effective Pranayama practices
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/3822356/pexels-photo-3822356.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>