<app-navbar></app-navbar>
<div class="yin-container">
  <div class="desc">
    <h1>Yin Yoga Teacher Training Course
      <br> with Ira Trivedi
    </h1>
  </div>
  <div class="course_info">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th colspan="2" class="head">Course info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Dates</th>
          <td>14th-15th December 2024</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>INR 25,000 / USD 300 (In-person in Mumbai)
            <br><br>
            INR 20,000 / USD 241 (Online on Zoom)
            <br><br>
            
          </td>

        </tr>
        <tr>
          <th scope="row">Timing</th>
          <td>10 AM to 6 PM IST (during the weekend) + 2 weeks of self learning and practice teaching in groups
            <li>Modules + Recordings will be provided for learning and self-practice.</li>
            <li>Certification will only be provided to those students who maintain their attendance during the LIVE sessions.</li></td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <div class="who">
    <h1>Who should attend this course?</h1>
    <hr>
    <ul>
      <li>Those who want to enhance their knowledge of Yin Yoga.  </li>
      <li>Those who are passionate about spreading the message of wellness and peace.</li>
      <li>Yoga teachers and holistic practitoners who want to include Yin Yoga in thier teaching repetoire.</li>
      <li>Those looking for a  comprehensive, well-structured Yin Yoga teacher training course with personal guidance and instruction.</li>
      <li>Those who want to become a part of a thriving community.</li>
      <li>Thise course is amazing for working professionals who may get time only on the weekends.</li>
    </ul>
    <button class="btn" routerLink="/contact">Contact us</button>
  </div>
  <div class="module">
    <div class="module1">
      <h1>Module 1</h1>
      <ul>
        <li>Purpose + Origin of the practice of Yin</li>
        <li>The philosophy of Tao</li>
        <li>Who is this practice for?</li>
        <li>Using props</li>
      </ul>
    </div>
    <div class="module2">
      <h1>Module 2</h1>
      <ul>
        <li>Importance of our connective tissue and fascia</li>
        <li>Yin and Yang of tissues</li>
        <li>Yin anatomy</li>
        <li>Working with physical limitations</li>
      </ul>
    </div>
    <div class="module3">
      <h1>Module 3</h1>
      <ul>
        <li>The key Yin postures</li>
        <li>Using language + music</li>
        <li>How to sequence your classes</li>
        <li>Modifications and variations</li>
        <li>Using craniosacral therapy</li>
        <li>Yin and Yang of tissues</li>
        <li>Yin anatomy</li>
        <li>Working with physical limitations</li>
      </ul>
    </div>
    <div class="module4">
      <h1>Module 4</h1>
      <ul>
        <li>Integrating Yin Yoga into your classes</li>
        <li>How to start your Yin yoga teaching career</li>
        <li>Creating playlists and themes</li>
        <li>How to price classes and create a business</li>
      </ul>
    </div>
  </div>
  <div class="why-course">
    <h1>
      Why Choose Us
    </h1><br>
    <ul>
      <li>
        Why Choose Us
        We present a planned, systematic, and complete Yin Yoga Teacher Training course that allows you to teach both locally (in India) and globally (worldwide.) </li>
      <li>Theoretical (Yin Yoga History, Yin Yoga Philosophy) and Practical (Yin Yoga Techniques) have been given equal weightage. </li>
      <li>We teach anatomy and physiology which can be difficult for many simply and effectively.</li>
      <li>Access to teachers who are knowledgeable, committed, and live classical yoga as a way of life.</li>
      <li>Yoga techniques have been modified so that you may confidently support your, students, during yoga classes.</li>
      <li>Yoga Certification from Yoga Alliance (YACEP) and Yoga Certification Board (YCB).</li>
      <li>Our Yin Yoga Teacher Training Course will assist you in gaining a fundamental understanding of your personality and developing a discriminative mind capable of dealing calmly with life's dualities.</li>
      
    </ul>
  </div>
</div>
<app-footer></app-footer>