<div class="img-card">
  <div class="card mb-4">
    <div class="row g-3">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/4327038/pexels-photo-4327038.jpeg?auto=compress&cs=tinysrgb&w=600"
          class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="alice">
          <div class="card-body">
            <div class="card-desc">
              <h5 class="card-title">Our Story</h5><hr width="12%" style="color: red;">
              <p class="card-text">SoulStretch is dedicated to delivering comprehensive wellness services to individuals and companies worldwide. Our offerings encompass both online and offline yoga programming, mindfulness practices, and holistic education, all led by the esteemed Ira Trivedi, a prominent figure in the yoga and wellness community in India.

                 At SoulStretch, we aim to nurture physical health, mental clarity, and emotional balance through carefully curated yoga sessions, meditation practices, and lifestyle guidance.
                <br><br>
                Our mission is to inspire individuals to embark on a journey of self-discovery, empowerment, and inner peace, empowering companies and communities to prioritize well-being and live healthier, happier lives.</p>
            </div>
            <button class="btn" routerLink="/aboutus" style="width: 20%;">Read more</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>

</div>